name = "developer-toolbox"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
main = ".open-next/worker.js"

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[ai]
binding = "AI"

[vars]
NEXT_PUBLIC_APP_URL = "https://devtools.catiteo.com"
NEXT_PUBLIC_APP_NAME = "DevToolbox"
